[Oo]bj
[Bb]in

Build/Artifacts/*
Build/PackageDependencies/*
!Build/PackageDependencies/repositories.config

Simple.Owin.snk

*.csproj.user
*.csproj.*.user
*.suo
*.cache
*.nupkg

~$*
*~

TestResults/*
test*ml
*.Tests.dll.xml

*ReSharper*
*.DotSettings.*
*.dotCover

*.ncrunchsolution*
*.ncrunchproject

NDependOut
*.ndproj

